ody{
    background: #8497B0;
    font-family: 'Roboto', sans-serif;
}
.main{
    background-color:#fff;
    width: 75%;
    height:75%;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.main h4{
background-color: #569BD4;
border:1px solid #000;
border-radius: 10px;
padding: 10px 20px;
cursor: pointer;
transition: all 0.3s;

}
.main h4:hover{
background: #fff;
color: #8497B0;
}
.mic{
display: flex;
justify-content: space-around;
padding-top: 100px;
padding-left:85px;
          
}
.mic h3{
text-align-last: center;
}
.rules h3{
 color:#AFE5FD;
 text-align: center;
}
.rules h2{
color:#AFE5FD;
 text-align: center;
}
.inst{
text-align: left;
padding:10px 250px;

}
.inst h4{

background-color: #E8E6E7;
border: 1px solid black;
border-style: dashed;
border-radius:0%;
}
.start_quiz{
display: flex;
justify-content: space-around;
padding-bottom: 120px;
}


.start_quiz h3{
background-color: #569BD4;
border:1px solid #fff;
border-radius: 10px;
padding: 10px 20px;
cursor: pointer;
transition: all 0.3s;
}
.start_quiz :hover{
background: #fff;
color: #569BD4;
}

.inactive{
    display: none;
}
.disabled{
    pointer-events: none;
}

.quiz-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 0 0 10px #D9D9D9;
    padding: 50px;
    width: 100%;
    max-width: 600px;
    background: #D9D9D9;
}
.quiz-box h2{
    font-size: 30px;
}
.quiz-box .option{
    font-size: 18px;
    color: #000;
    border: 2px solid #fff;
    margin: 20px 0;
    padding: 12px 15px;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    
}
.quiz-box .option .fa{
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 30px;
}


.quiz-box .option.incorrect{
    background: rgb(241, 153, 153);
    color: rgb(184, 12, 12);
    border-color: rgb(184, 12, 12);
}
.quiz-box .option.correct{
    background: rgb(157, 246, 157);
    color: rgb(6, 138, 28);
    border-color: rgb(6, 138, 28);
}

.quiz-box .option:hover{
    background: #036DB9;
}
.que_text
{
    color: #93684A;
}
.quiz-footer{
    margin-top: 50px;
    padding-top: 30px;
    border-top: 2px dashed #93684A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.count_que,.total_que{
    font-weight: bolder;
    font-size: 20px;
}
.footer-left{
    font-size: 18px;
    color: #036DB9;
}
.next-btn{
    font-size: 18px;
    border: 2px solid #036DB9;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    background-color:#036DB9;
}

.next-btn:hover{
    background: #fff;
    color:#036DB9;
}
body{
    background:#8497B0;;
    font-family: 'Roboto', sans-serif;
}



.inactive{
    display: none;
}
.disabled{
    pointer-events: none;
}

.footer-left{
    font-size: 18px;
}
.next-btn{
    font-size: 18px;
    border: 2px solid  #036DB9;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    background-color:#036DB9;
}

.next-btn:hover{
    background: #fff;
    color: #036DB9;
}

.result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    box-shadow: 0 0 10px #a0a7ac;
    width: 100%;
    max-width: 450px;
    background: #A5B2BB;
}
.result-box h2{
    font-size: 36px;
    background: #fff;
    color: #036DB9;
    text-align: center;
    padding: 20px 0;
}
.result-box .result{
    padding: 40px;
}
.result-box h3{
    font-size: 30px;
    margin-bottom: 10px;
}

.result-footer{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
.result-footer .again-quiz,.result-footer .exit{
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
}
.result-footer .again-quiz{
    background:#036DB9;
    color: #fff;
    border-color: #3c0bee;
}
.result-footer .again-quiz:hover{
    background: #fff;
    color: #036DB9;
    border-color: #fff;
}

.result-footer .exit{
    background: red;
    color: #fff;
    border-color: #3c0bee;
}

.result-footer .exit:hover{
    background: #fff;
    color:red;
    border-color: #3c0bee;
}
.HI{
    font-size: 50px;
    background: #fff;
    color: #000;
    text-align: center;
}
